<div class="top-background">

</div>
<div class="login-form-container">
    <form>
        <div class="form-field">
            <label for="uname">User name</label>
            <input type="text" placeholder="Your name...">
        </div>
        <div class="form-field">
            <label for="password">Password</label>
            <input type="password">
        </div>
        <div class="form-field">
            <button name="Login" class="green-button">Login</button>
            <a routerLink="/signup" class="med-link">Sign-up</a>
            <a routerLink="/signup" class="med-link">Forgot password</a>
        </div>
    </form>
</div>