<div class="top-background">

</div>
<div class="login-form-container">
        <form>
            <div class="form-field">
                <label for="fname">First name</label>
                <input type="text" name="fname" placeholder="First name...">
            </div>
            <div class="form-field">
                <label for="lname">Last name</label>
                <input type="text" name="lname" placeholder="Last name...">
            </div>
            <div class="form-field">
                <label for="uname">User name</label>
                <input type="text" name="uname" placeholder="Your name...">
            </div>
            <div class="form-field">
                <label for="email">Email</label>
                <input type="text" name="email" placeholder="Your name...">
            </div>
            <div class="form-field">
                <label for="password">Password</label>
                <input type="password" name="password">
            </div>
            <div class="form-field">
                <button name="Login" class="green-button">Signup</button>
            </div>
        </form>
    </div>